<div class="container">
  <div class="row">
    <div class="col-md-12">
      <video-js id="vid1" width="1000" height="500" class="vjs-default-skin" controls>
        <source
          src="<%= @video.url%>"
          type="application/x-mpegURL">

      </video-js>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1><%= @video.name %></h1>
      <p>
        <%= @video.view.count %>
        <% if @video.view.count < 1%>
          Vizualization
        <% else%>
          Vizualizations
        <% end %>
      </p>
    </div>
  </div>

</div>
