<footer>
  <div class="row">
    <div class="coll-md-3 col-sm-12">

    </div>
    <div class="coll-md-3 col-sm-12"></div>
    <div class="coll-md-3 col-sm-12"></div>
  </div>
  <div class="copyright">
    All right safe &copy;
  </div>
</footer>
